extends layout/main_layout.pug

block content

    if (action !== 'undefined' && action === 'delete')
        div.alert.alert-danger The product has been deleted.

    if (action !== 'undefined' && action === 'edit')
        div.alert.alert-success The product has been updated.

    
    if products.length > 0
        table.table.table-bordered
            thead
                tr 
                    th  Image
                    th  product Name
                    th  Price
                    th
            tbody 
                each pro in products
                    tr 
                        td 
                            img(src=`/images/${pro.image}` width='80')
                        td #{pro.name}
                        td #{pro.price} TL
                        td 
                            a.btn.btn-primary.btn-sm(href=`product-list/${pro.id}`) Edit
                            form(action='/admin/delete-product' method='POST')
                                input(type='hidden' name='productid' value=`${pro.id}`)
                                button(type="submit").btn.btn-danger.btn-sm Delete
    else 
        h1 No Product 
                    